/* .title{
  text-align: center;
  font-size: 100px;
}
.sidebar{
  min-width: 200px;
}

.sideBarLink{
  margin:.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #32a1ce;
  text-decoration: none;
  text-align: center;
  padding:.5rem;
  border-radius: .25rem;
} */
